# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar # not good, as we have some libraries as jar included that are not on maven
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/target


# Created by https://www.gitignore.io/api/angular
# Edit at https://www.gitignore.io/?templates=angular

### Angular ###
## Angular ##
# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
**/node_modules/
**/package-lock.json
/bower_components

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
**/e2e/*.js
**/e2e/*.map

#System Files
.DS_Store

# End of https://www.gitignore.io/api/angular

.settings/org.eclipse.jdt.core.prefs
.project
/.idea/
.gradle/
.idea/$PRODUCT_WORKSPACE_FILE$
MES/plc/javafunctionalunit/.gradle/
MES/plc/javafunctionalunit/build/generated/
MES/plc/javafunctionalunit/build/resources/
MES/plc/javafunctionalunit/build/tmp/
MES/plc/javafunctionalunit/gradle/wrapper/gradle-wrapper.properties
MES/plc/javafunctionalunit/src/gradle/wrapper/gradle-wrapper.properties
MES/plc/javafunctionalunit/src/test/

# ignoring files by name :bad idea #
#*.xml
# yes bad indeed as this also filters out pom.xml !!!
.idea/misc.xml
.idea/libraries/Gradle__org_slf4j_slf4j_simple_1_7_25.xml
.idea/libraries/Gradle__org_slf4j_slf4j_jdk14_1_7_7.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Gradle__net_java_dev_jna_jna_4_5_2.xml
.idea/libraries/Gradle__io_vertx_vertx_core_3_8_0.xml
.idea/libraries/Gradle__io_netty_netty_transport_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_resolver_dns_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_resolver_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_handler_proxy_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_handler_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_common_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_socks_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_http_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_http2_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_dns_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_buffer_4_1_34_Final.xml
.idea/libraries/Gradle__com_github_oxo42_stateless4j_2_5_0.xml
.idea/libraries/Gradle__com_github_ev3dev_lang_java_lejos_commons_0_7_3.xml
.idea/libraries/Gradle__com_github_ev3dev_lang_java_ev3dev_lang_java_2_5_3.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_9_9_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
.idea/gradle.xml
.settings/org.eclipse.buildship.core.prefs
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
.idea/libraries/Gradle__org_slf4j_slf4j_simple_1_7_25.xml
.idea/libraries/Gradle__org_slf4j_slf4j_jdk14_1_7_7.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Gradle__net_java_dev_jna_jna_4_5_2.xml
.idea/libraries/Gradle__io_vertx_vertx_core_3_8_0.xml
.idea/libraries/Gradle__io_netty_netty_transport_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_resolver_dns_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_resolver_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_handler_proxy_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_handler_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_common_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_socks_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_http_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_http2_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_dns_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_4_1_34_Final.xml
.idea/libraries/Gradle__io_netty_netty_buffer_4_1_34_Final.xml
.idea/libraries/Gradle__com_github_oxo42_stateless4j_2_5_0.xml
.idea/libraries/Gradle__com_github_ev3dev_lang_java_lejos_commons_0_7_3.xml
.idea/libraries/Gradle__com_github_ev3dev_lang_java_ev3dev_lang_java_2_5_3.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_9_9_1.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_9_9.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
MES/plc/javafunctionalunit/src/main/resources/opcua_java_api.iobj
MES/plc/javafunctionalunit/src/main/resources/opcua_java_api.ipdb
MES/plc/javafunctionalunit/src/main/resources/opcua_java_api.pdb
