<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Order History</h2>
  </div>
  <div class="panel-body">

    <div *ngIf="orders">
      <div>
        <label><b>OrderId: </b></label> {{orderId}}
      </div>
        <table mat-table [dataSource]="getOrdersAsArray()" class="mat-elevation-z8">

          <!-- Status Column -->
          <ng-container matColumnDef="status" class="make-gold">
            <th mat-header-cell *matHeaderCellDef> Order Status </th>
            <td mat-cell *matCellDef="let element">
              {{element.eventType}}
            </td>
          </ng-container>
        
          <!-- Machine Column -->
          <ng-container matColumnDef="machine">
            <th mat-header-cell *matHeaderCellDef> Machine </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.machineId}}
            </td>
          </ng-container>

          <!-- Time Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Timestamp </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.timestamp}}
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row [ngClass]="{'make-gold': row.timestamp == this.latest}" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <br>
    <br>
    <button (click)="list()" class="btn btn-primary">Back to Order List</button><br>
  </div>
</div>
