table {
    width: 100%;
}

.paused {
    background-color: #FCEE85
}

.update {
    background-color: #BBDD8B
}

.latest {
    background-color: #9BA6E8
}

.expansion-panel-class {
    max-width: 300px;
}

.mat-cell {
    padding: 5px;
}

.my-button-row button,
.my-button-row a {
  margin-right: 8px;
}
