<h2>Order History</h2>

<hr/>
<div *ngIf="orders">
  <div>
    <label><b>OrderId: </b></label> {{orderId}}
  </div>
  <mat-grid-list cols="1"  rowHeight="4:1">
    <mat-grid-tile>
        <table mat-table [dataSource]="getOrdersAsArray()" class="mat-elevation-z8">
          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Order Status </th>
            <td mat-cell *matCellDef="let element">
              {{element.eventType}}
            </td>
          </ng-container>
        
          <!-- Machine Column -->
          <ng-container matColumnDef="machine">
            <th mat-header-cell *matHeaderCellDef> Machine </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.machineId}}
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-grid-tile>
    </mat-grid-list>
</div>
<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Order List</button><br>
