<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Order List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Orders</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of orders | keyvalue">
          <td>{{entry.key}}</td>
          <td>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>JobId</th>
                  <th>JobStatus</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let entry2 of entry.value.jobStatus | keyvalue">
                  <td>{{entry2.key}}</td>
                  <td>{{entry2.value}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
