<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Machine History</h2>
      <hr>
      <h3>{{machineId}}</h3>
      <br>
    </div>
    <div class="panel-body">
  
      <div *ngIf="machines">
          <table mat-table [dataSource]="getMachinesAsArray()" class="mat-elevation-z8">
  
            <!-- Status Column -->
            <ng-container matColumnDef="eventType" class="make-gold">
              <th mat-header-cell *matHeaderCellDef> Event Type </th>
              <td mat-cell *matCellDef="let element">
                {{element.eventType}}
              </td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.newValue}}
              </td>
            </ng-container>
         
            <!-- Message Column -->
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let element"> 
                  <mat-expansion-panel 
                    class="expansion-panel-class" 
                    #panel 
                    (mouseenter)="panel.open()"
                    (mouseleave)="panel.close()"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Status Message
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <p>{{element.message}}</p>
                  </mat-expansion-panel>
                </td>
              </ng-container>
  
            <!-- Time Column -->
            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef> Timestamp </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.prettyTimestamp}}
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [ngClass]="{'make-gold': row.timestamp == this.latest}" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="list()">Back to Machine List</button><br>
    </div>
  </div>
  
