.icon {
    vertical-align: middle;
}
  
.mat-button {
    color: white;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 10rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

.fill-space {
    flex: 1 1 auto;
}
