<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Order List</h2>
  </div>
  <div class="panel-body">
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">

      <!-- Order Column -->
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef> Order </th>
        <td mat-cell *matCellDef="let element">
          {{element.orderId}}
        </td>
      </ng-container>
    
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.eventType}}
        </td>
      </ng-container>

      <!-- Machine Column -->
      <ng-container matColumnDef="machine">
        <th mat-header-cell *matHeaderCellDef> Machine </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.machineId}}
        </td>
      </ng-container>
    
      <!-- Button Column -->
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="basic" (click)="orderDetails(element.orderId)">
            Process
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
<!--     <table class="table table-striped">
      <thead>
        <tr>
          <th>OrderId</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let id of orderIds | async">
          <td>{{id}}</td>
          <td>
              <button (click)="orderDetails(id)" class="btn btn-info" style="margin-left: 10px">OrderStatus</button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
